/*Resetar as configurações do navegador */
html, body {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    background-color: rgb(244, 238, 255);
}

main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}

.box {
    width: 300px;
    height: 300px;
    border: 2px solid;
}

#yellow {
    background-color: yellow;
}

#orange{
    background-color: #ff5e00;
}

#red{
    background-color: rgb(255, 47, 47);
}

#white{
    background-color: white;
}

#pink{
    background-color: rgb(255, 75, 174);
}

#cian{
    background-color: rgb(0, 238, 255);
}

#blue{
    background-color: #1549f5;
}

#purple{
    background-color: rgb(140, 0, 255)
}

#green{
    background-color: #1bda1b;
}
